APP_NAME=Marreta
APP_ENV=local
APP_KEY=
APP_DESCRIPTION="Chapéu de paywall é marreta!"
APP_DEBUG=false
APP_URL=http://localhost
APP_LOCALE=pt-br

DNS_SERVERS=1.1.1.1,8.8.8.8

BROWSER_WS_ENDPOINT=ws://marreta_browser:9222
BROWSER_TIMEOUT_MS=30000

DISABLE_CACHE=false
CLEANUP_DAYS=7
LOG_DAYS_TO_KEEP=7

# Proxy (optional)
# PROXY_URL=

ADMIN_EMAIL=admin@marreta.local
ADMIN_PASSWORD=password