APP_NAME=Marreta
APP_ENV=local
APP_KEY=
APP_DESCRIPTION="Chapéu de paywall é marreta!"
APP_DEBUG=false
APP_URL=http://localhost
APP_LOCALE=pt-br

BROWSER_WS_ENDPOINT=ws://marreta_browser:9222
BROWSER_TIMEOUT_MS=30000

DISABLE_CACHE=false

# Proxy (optional)
# PROXY_URL=

ADMIN_EMAIL=admin@marreta.local
# obrigatório — sem isso o admin não é criado
ADMIN_PASSWORD=

# Sentry (optional)
# SENTRY_LARAVEL_DSN=
